.body{
    
    font-family: "MaisonNeue","Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    font-stretch: expanded;
}
.container-fluid{
    padding: 3% 6%;
    background-color: rgba(38, 129, 204, 0.1);
}
.logo{
    
    height: 80px;
    width: auto;
    position: absolute;
    left: 44%;
    top: 56%; 
    padding-bottom: 0;
     margin-top: ; 
    transform: translate(0%, -80%);
    
}

.navbar-brand {
    height: 100px;
    width: auto;
}
.nav-link{
    
    font-weight: 1000;
}
.b4391{
    font-size: 32px;
    font-weight: 900;
}
.brd{
    border-color: hsla(210, 14%, 80%, 0.425);
    border: 0.2px solid hsla(207, 4%, 48%, 0.233);;
}
#news{
    background-color: rgba(11, 121, 184, 0.11);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      
    }
  }
  #cta{
      background-color:#5daafcbd;
  }